# Intellij
.idea/
*.iml
*.iws

# Producer
producer/.gradle/
producer/build/

# Consumer
consumer/.gradle/
consumer/build/

# Shedlock
shedlock/.gradle/
shedlock/build/

# Proxy
proxy/.gradle/
proxy/build/

# Hibernate
hibernate-problem/.gradle/
hibernate-problem/build/
